doctype html
html
    head
        title One | Email template!

        //- import css/scss stylesheets
        //- these file names will be replace by gulp with proper css file paths
        link(rel="stylesheet", href="../sass/basic.scss")
        link(rel="stylesheet", href="../sass/styles.scss")

        //- embdedded css allowed, but not sass
        style.
            .red{
                background-color: #E84C50;
            }
            .full-width{
                width: 100%;
            }
    body
        div.wrapper
          div.wrapper-inner 
            p
              = 'This code is <escaped>!'   
            p!= 'This code is <strong>not</strong> escaped!'
            p!= 'This code is' + ' <strong>not</strong> escaped!'
            ul 
              - for (var x = 0; x < 3; x++)
                li this list of items

            br

            - 
              var list = ["Uno", "Dos", "Tres",
                      "Cuatro", "Cinco", "Seis"]
            each item in list
              li= item